body {
    background: linear-gradient(to right, #098936, #94feb2);
    font-family: Arial, sans-serif;
}

.page-container {
    margin-top: 25px;
}

#favoriteNavbar {
    background-color: green;
}

a.btn {
    background-color: rgb(17, 108, 61);
    color: white;
}