*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}
:root{
    --color-1: #cdb4db; /* Mobile */
    --color-2: #fff1e6; /* Tablet */
    --color-3: #52b788; /* Laptop */
    --color-4: #bee1e6; /* Desktop */
}
body{
    font-size : 35px;
    font-family: sans-serif;
    background-color: rgb(255,196,234);
}
.container{
    display : grid;
    place-items: center;
    height : 100vh;
    background-color: var(--color-1);
}
#size {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(22,19,19);
    font-size: 35px;
}
@media screen and (max-width : 1200px){
    .container{
        background-color: var(--color-4);
    }
}
@media screen and (max-width : 768px){
    .container{
        background-color: var(--color-2);
    }
}
@media screen and (max-width : 992px){
    .container{
        background-color: var(--color-3);
    }
}
@media screen and (max-width : 500px){
    .container{
        background-color: var(--color-1);
    }
}

