.bluebox {
    background-color: powderblue;
    color:blue;
    height:100px;
    width:auto;
}

.blue {
    color:blue;
}

.greenbox {
    background-color: rgba(0, 128, 0, 0.3);
    color:green;
    height:100px;
    width:auto;
}

.yellowbox {
    background-color: darkkhaki;
    color:yellow;
    height:100px;
    width:auto;
}

.great {
    font-size:300%;
}