body {
    background: #d3d3d3;
    
}

.page-container {
    margin-top: 25px;
}

#favoriteNavbar {
    background-color: maroon;
}

#favoriteColorContainer {
/* Idk what should go here */
}

#favoriteColorBox {
    background-color: blue;
    width: 200px;
    margin: 10px;
    line-height: 100px;
    text-align: center;
    font-family: consolas, arial, sans-serif;
    font-size: 2em;
    border-width: 2px;
    border-radius: 5px;
}

.button-group {
    padding: 5vw;
    text-align: center;
}

.button-group > button {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    background-color: maroon;
    text-align: center;
    color: white;
}

#counterText {
    color: black;
    font-family: consolas, arial, sans-serif;
    font-size: 4em;
    text-align: center;
}

#blueButton {
    background-color: blue;
}

#greenButton {
    background-color: green;
}

#redButton {
    background-color: red;
}

#purpleButton {
    background-color: purple;
}